<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>So Much So Little.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3EE741151D1090DC00064BF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EE7412C1D1090DC00064BF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EE741371D1090DC00064BF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
